In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
data = pd.read_csv("C:/Users/Sarthak/Documents/dataset.txt")
data
data.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [3]:

for i in data.columns:
    print(data[i].unique(),"\t",data[i].nunique())

['vhigh' 'high' 'med' 'low'] 	 4
['vhigh' 'high' 'med' 'low'] 	 4
['2' '3' '4' '5more'] 	 4
['2' '4' 'more'] 	 3
['small' 'med' 'big'] 	 3
['med' 'high' 'low'] 	 3
['unacc' 'acc' 'vgood' 'good'] 	 4

In [4]:
for i in data.columns:
    print(data[i].value_counts())
    print()

med      432
high     432
low      432
vhigh    431
Name: vhigh, dtype: int64

med      432
high     432
low      432
vhigh    431
Name: vhigh.1, dtype: int64

5more    432
3        432
4        432
2        431
Name: 2, dtype: int64

more    576
4       576
2       575
Name: 2.1, dtype: int64

med      576
big      576
small    575
Name: small, dtype: int64

med     576
high    576
low     575
Name: low, dtype: int64

unacc    1209
acc       384
good       69
vgood      65
Name: unacc, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()
for i in data.columns:
    data[i]=le.fit_transform(data[i])

In [9]:
data.head()

   vhigh  vhigh.1  2  2.1  small  low  unacc
0      3        3  0    0      2    2      2
1      3        3  0    0      2    0      2
2      3        3  0    0      1    1      2
3      3        3  0    0      1    2      2
4      3        3  0    0      1    0      2

In [10]:
X = data.iloc[:, :6].values
y = data.iloc[:, 6].values

In [11]:
from sklearn.model_selection import train_test_split as tts
train_feats, test_feats, train_label, test_label = tts(X, y, test_size = 0.2)

In [14]:
from sklearn.ensemble import RandomForestClassifier
ren = RandomForestClassifier(n_estimators = 6)
ren.fit(train_feats, train_label)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=6, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [15]:
ren.predict(test_feats)

array([0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 0, 0, 2, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 0, 2, 0, 2,
       2, 2, 0, 2, 2, 0, 0, 2, 0, 0, 0, 0, 1, 2, 2, 2, 2, 1, 0, 1, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 1, 2, 2, 2, 0, 0, 0, 1, 2, 0, 2, 2, 0, 1, 2, 0, 0, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 1, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0,
       2, 0, 0, 0, 3, 2, 2, 2, 2, 0, 2, 2, 0, 2, 2, 0, 3, 2, 0, 2, 3, 2,
       2, 2, 0, 0, 2, 2, 2, 0, 2, 1, 2, 2, 0, 2, 2, 2, 0, 2, 0, 0, 1, 0,
       2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0, 0, 2, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 0,
       2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 0, 2, 2, 3, 0, 2, 2, 0, 2, 0, 2, 2, 2, 3, 0, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 3, 2, 2, 0, 2, 0, 2, 0, 3, 2, 2, 2,
       2, 2, 0, 0, 0, 0, 2, 0, 2, 2, 2, 0, 1, 2, 2, 1, 2, 0, 3, 2, 2, 2,
       3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2,
       2, 2, 3, 2, 0, 2, 3, 2, 2, 1, 2, 2, 2, 2, 0, 2])

In [ ]:
ren.score()